.inline-button {
  background-color: white;
  -moz-appearance: none;
  min-width: 1em;
  min-height: 1em;
}

.inline-button:hover {
  font-weight: bold;
  text-decoration: underline;
}


tab[type="siteTab"][engine="google"] .tab-icon-image {
  list-style-image: url('http://www.google.com/favicon.ico');
}
tab[type="siteTab"][engine="yahoo"] .tab-icon-image {
  list-style-image: url('http://www.yahoo.com/favicon.ico');
}
tab[type="siteTab"][engine="bing"] .tab-icon-image {
  list-style-image: url('http://www.bing.com/favicon.ico');
}
tab[type="siteTab"][engine="wikipedia"] .tab-icon-image {
  list-style-image: url('http://www.wikipedia.org/favicon.ico');
}

vbox.mininav {
  background: #ddd;
  border-bottom: 1px solid #8c8c8c;
  border-top: 1px solid #8c8c8c;
  background-image: -moz-linear-gradient(top center, #f9f9f9 1px, #dfdfdf 1px, #ccc);
  -moz-box-align: center;
  height: 35px;
}

.mininav button image {
  display: none;
}

.mininav button {
  -moz-appearance: none;
  border: 1px solid transparent;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  font-size: x-large;
  text-shadow: 0px 1px 0 #f2f2f2;
  white-space: nowrap;
  font-weight: bold;
  vertical-align: middle;
  margin: 2px 0 2px 4px;
  min-width: 0;
  -moz-border-radius: 3px;
}
.mininav button[disabled='true'] {
  color: #707070;
  cursor: default;
  text-shadow: 0px 1px 0 #e0e0e0;
}

.mininav button:hover {
  background-image: -moz-linear-gradient(center top , #ebebeb 0%, #d1d1d1 100%);
  -moz-box-shadow:0 0 1px #eee inset, 0 1px 0 #d6d6d6;
  border-color: #bbb;
}
.mininav button[disabled="true"]:hover {
  background-image: none;
  border-color: transparent;
  -moz-box-shadow: none;
}

.mininav button:active {
  background-image: -moz-linear-gradient(center top , #7c7c7c 0%, #919191 100%);
  border-color: #767676;
  -moz-box-shadow: none;
}

.mininav button[disabled="true"]:hover label {
  text-decoration: none;
}

.mininav button.back {
  padding: 0 8px 4px 4px;
}

.mininav button.forward {
  padding: 0 6px 4px 6px;
}

.mininav .menulist {
  -moz-appearance: none;
  cursor: pointer;
}

.mininav .menulist .menulist-dropmarker {
  -moz-appearance: menulist-button;
  display: -moz-box;
}
