#navbar {
  background: #ddd;
  border-right: 1px solid #8c8c8c;
  background-image: -moz-linear-gradient(right center, #f9f9f9 1px, #dfdfdf 1px, #ccc);
  -moz-box-align: center;
}

#navbuttons button image {
  display: none;
}

#navbuttons button,
#navbuttons button[disabled="false"] {
  -moz-appearance: none;
  border: 1px solid transparent;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  font-size: x-large;
  text-shadow: 0px 1px 0 #f2f2f2;
  white-space: nowrap;
  font-weight: bold;
  vertical-align: middle;
  margin: 2px 0 2px 4px;
  min-width: 0;
  -moz-border-radius: 3px;
}

#navbuttons button[disabled="true"] {
  color: #707070;
  cursor: default;
  text-shadow: 0px 1px 0 #e0e0e0;
}

#navbuttons button[disabled="false"]:hover {
  background-image: -moz-linear-gradient(center top , #ebebeb 0%, #d1d1d1 100%);
  -moz-box-shadow:0 0 1px #eee inset, 0 1px 0 #d6d6d6;
  border-color: #bbb;
}

#navbuttons button[disabled="false"]:active {
  background-image: -moz-linear-gradient(center top , #7c7c7c 0%, #919191 100%);
  border-color: #767676;
  -moz-box-shadow: none;
}

#navbuttons button[disabled="true"]:hover label {
  text-decoration: none;
}

#navbuttons button.back {
  padding: 0 8px 4px 4px;
}

#navbuttons button.forward {
  padding: 0 6px 4px 6px;
}

#navbuttons {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#radios radio {
  -moz-appearance: none;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 28px;
  height: 28px;
}

#radios radio[selected] {
  background-image: -moz-linear-gradient(center top , #a1a1a1 0%, #d1d1d1 100%);
  border-color: #a1a1a1;
}

#radios radio:hover:not([selected]) {
  background-image: -moz-linear-gradient(center top , #ebebeb 0%, #d1d1d1 100%);
  box-shadow:0 0 1px #eee inset, 0 1px 0 #d6d6d6;
  border-color: #bbb;
}

#radios radio:active {
  background-image: -moz-linear-gradient(center top , #7c7c7c 0%, #919191 100%);
  border-color: #767676;
  box-shadow: none;
}

#radios radio .radio-icon {
  max-width: 24px;
  max-height: 24px;
  padding: 2px;
}

#radios radio .radio-check,
#radios radio .radio-label {
  display: none;
}
