.inline-button {
  background-color: white;
  -moz-appearance: none;
  min-width: 1em;
  min-height: 1em;
}

.inline-button:hover {
  font-weight: bold;
  text-decoration: underline;
}


.websearch {
  margin-left: 1em;
  margin-top: 2px;
  margin-bottom: 2px;
}


tab[type="siteTab"][engine="google"] .tab-icon-image {
  list-style-image: url('http://www.google.com/favicon.ico');
}
tab[type="siteTab"][engine="yahoo"] .tab-icon-image {
  list-style-image: url('http://www.yahoo.com/favicon.ico');
}
tab[type="siteTab"][engine="bing"] .tab-icon-image {
  list-style-image: url('http://www.bing.com/favicon.ico');
}
tab[type="siteTab"][engine="wikipedia"] .tab-icon-image {
  list-style-image: url('http://www.wikipedia.org/favicon.ico');
}


.url {
  font-size: 120%;
  color: grey;
}

.mininav.hidden {
  display:none;
}

hbox.mininav {
  background: #ddd;
  border-bottom: 1px solid grey;
  -moz-box-align: baseline;
  color: white;

}

.mininav .url {
  border: 1px inset #444;
  padding: 3px;
  background: #ccc;
  color: #444;
}

.mininav button {
  -moz-appearance: none;
  -moz-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.75) inset;
  background-image: -moz-linear-gradient(center top , #EEEEEE 0%, #EEEEEE 50%, #E1E1E1 50%, #E1E1E1 100%);
  border-color: #AAAAAA #AAAAAA #888888;
  border-style: solid;
  border-width: 1px;
  color: #222222;
  cursor: pointer;
  font-weight: bold;
  font-size: larger;
  padding: 2px 4px;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.75);
  white-space: nowrap;
  font-weight: bold;
  vertical-align: middle;
}

.back {
  -moz-border-radius: 12px 3px 3px 12px;
}

.forward {
  -moz-border-radius: 3px 12px 12px 3px;
}

.mininav button:hover {
  background-image: -moz-linear-gradient(center top , #fafafa 0%, #fafafa 50%, #eee 50%, #eee 100%);
}

.mininav button:active {
  background-image: -moz-linear-gradient(center top , #ddd 0%, #ddd 100%);
}

.mininav button[disabled='true'] {
  color: #666;
  background-image: -moz-linear-gradient(center top , #ddd 0%, #ddd 100%);
  font-weight: normal;
  cursor: default;
}
.mininav button[disabled="true"]:hover label {
  text-decoration: none;
}
.mininav button[disabled="true"]:hover {
}
